body {
  margin: 0;
  padding: 0;
  background-color: hsl(210, 4%, 80%);
  box-sizing: border-box;
}
table {
  margin: auto;
  background-color: hsl(0, 0%, 100%);
}
td {
  height: 117px;
  width: 117px;
  border: 2px solid black;
  font-size: 50px;
  text-align: center;
}
.card {
  background-color: hsl(210, 1%, 66%);
  text-align: center;
  box-shadow: 2px 2px 3px rgba(red, green, blue, alpha);
  margin-bottom: 1rem;
}
.card-header {
  background-color: hsl(210, 1%, 44%);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
#click {
  width: 200px;
}
.warning {
  text-transform: uppercase;
  font-size: medium;
  font-weight: 800;
  text-decoration: overline;
  text-shadow: 1px 0px 5px gray;
}
